body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 200px;
}

.productBox {
  border: solid 3px black;
  width: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
}

nav {
  background-color: lightgray;
  padding: 20px;
  border-radius: 3px;
}

li {
  display: inline;
  margin-right: 15px;
}
